extends ../common/layout.pug
block content
  section.comments
  .comments__wrapper
    h1.visually-hidden Страница комментариев
    each ticket in tickets
      .comments__block
        .comments__header
          a.announce-card(href='offers/'  + ticket.id)
            h2.announce-card__title= ticket.title
            span.announce-card__info
              span.announce-card__price ₽
                span= ticket.sum
              span.announce-card__type= ticket.type
        ul.comments-list
        if ticket.comments
          each comment in ticket.comments
            include ../common/comment.pug
    //- TODO: Remove when we will have comment's author
    .comments__block
      .comments__header
        a.announce-card(href='#')
          h2.announce-card__title Ленд Ровер
          span.announce-card__info
            span.announce-card__price ₽ 900 000
            span.announce-card__type ПРОДАМ
      ul.comments-list
        each comment in comments
          include ../common/comment.pug
